<meta charset="utf-8"> {{ partial "header.html" . }}
<main class="content" role="main">
     <article class="article">
    <div class="tags0">
        <h1 class="tags1">分类标签有{{ len .Data.Terms }}个</h1>

        {{ $data := .Data }} {{ range .Data.Terms.ByCount }} {{ $termLink := printf "/%s/%s/" $data.Plural .Term | urlize }}
        <h2 class="tags2">
            <a href="{{ $termLink }}">{{ .Term }}</a> 有{{ .Count }}篇
        </h2>
        <div class="tags3">
            <ul>
            {{ range .Pages | first 5 }}
            <li><a href="{{ .Permalink }}" class="tags4">{{ .Title }}</a></li>
            {{ end }} {{ if gt (len .Pages) 5 }}
            <li><a href="{{ $termLink }}" class="tags4">……</a></li>
            {{ end }}
             </ul>
        </div>

        {{ end }}
    </div>
      </article>
</main>
<link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}" media="all">
<link rel="stylesheet" href="{{ "css/main.css" | relURL }}" media="all">
<link rel="stylesheet" href="{{ "css/font-awesome.min.css" | relURL }}" media="all">
{{ partial "footer.html" . }}
